@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Sora", sans-serif !important;
  font-weight: 400 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

[data-theme="dark"] body {
  background-color: var(--background-color-dark);
}
[data-theme="dark"] .modal-content {
  background-color: var(--background-color-dark);
  color: white;
}
[data-theme="dark"] .light-dark-mode-button {
  background-color: #000000 !important;
  color: #4f81ec !important;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --background-color-dark: #1c1c1c;
}
.dark {
  background-color: var(--background-color-dark) !important;
  color: white !important;
}
.light-dark-mode-button {
  background-color: #fff;
  border-radius: 50% !important;
  border: none !important;
  font-size: 16px !important;
  text-align: center;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.light-dark-mode-button i {
  margin: 0 !important;
  align-self: center !important;
}

.light-mode {
  color: #333 !important;
  background-color: #fff !important;
}

.dark-mode {
  color: #fff !important;
  background-color: #333 !important;
}

.light-dark-mode-button:hover {
  background-color: #f7f7f7 !important;
}

.light-mode:hover {
  background-color: #eee !important;
}

.dark-mode:hover {
  background-color: #444 !important;
}

.Container {
  margin: 2% 6% 0% 6%;
}
.Container2 {
  margin: 3% 7% 0% 7%;
}
.Container3 {
  margin: 5% 1% 0% 1%;
}

.talk {
  background-color: #f6f6f6 !important;
}

.learn {
  font-size: 16px !important;
  line-height: 20.16px;
  text-align: left;
}
[data-theme="dark"] .lightblue {
  background-color: #222222 !important;
  color: white !important;
}
[data-theme="dark"] .dip {
  background-color: #222222 !important;
  color: white !important;
}
.font {
  font-size: calc(0.9vw + 0.1em) !important;
}
.card-title {
  font-size: calc(0.9vw + 0.4em) !important;
}
.hip {
  font-size: calc(0.95vw + 0.8em) !important;
}
.lightblue {
  background-color: #f3f5fa !important;
  border-radius: 15px !important;
  width: 100%;
}
.lightblues {
  background-color: #f3f5fa !important;
  border-radius: 15px !important;
  width: 100%;
}

.lightblue3 {
  background-color: #f3f5fa !important;
  border-radius: 15px !important;
  width: 100%;
}
.lightblue2 {
  background-color: #f3f5fa !important;
  border-radius: 15px !important;
  width: 100%;
}
[data-theme="dark"] .lightblue2 {
  background-color: #222222 !important;
  color: white !important;
}
.blue {
  background-color: #4f81ec !important;
}

[data-theme="dark"] .blue {
  background-color: #3e4095 !important;
}
[data-theme="dark"] .green {
  color: #397b3f !important;
}
[data-theme="dark"] h1 {
  color: white !important;
}
.carousel-inner img {
  border-radius: 15px;
  transition: transform 0.5s ease;
}

.background {
  border: 2px solid white !important;
  border-radius: 15px;
}
.icon-container {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.shape {
  letter-spacing: -0.02em !important;
  text-align: left;
}
.icon {
  color: white;
}
.convert {
  height: 15.82rem !important;
  margin-top: 2rem;
}
.h4s {
  font-size: 1.5rem !important;
}
.h42s {
  font-size: 1.3vw;
}

.fa-spin {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform: rotate(360deg);
}
.custom-btn {
  width: 19rem;
  height: 4rem;
}

.marquee-container {
  overflow: hidden;
  width: 100%;
  height: 20vh;
  position: relative;
  background-blend-mode: overlay;
  background-color: rgba(243, 245, 250, 0.5);
}
.marquee-container marquee {
  width: 100%;
  font-size: 18px;
}
.marquee-container marquee span {
  padding: 0 20px;
}
.marquee-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
  z-index: 1;
}
[data-theme="dark"] .marquee-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(28, 28, 28, 0.87) 0%,
    rgb(110, 154, 248) 20%,
    rgb(110, 154, 248) 80%,
    rgb(28, 28, 28, 0.87) 100%
  ) !important;
  z-index: 1;
}
[data-theme="dark"] marquee {
  color: #000000 !important;
  z-index: 2;
}
[data-theme="dark"] .accordion-item,
.accordion-button {
  box-shadow: none !important;
  color: white;
  background-color: #1c1c1c !important;
}

.styled-list li::before {
  content: "\2022";
  color: skyblue;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  font-size: large;
  margin-left: -1em;
}
.styled-list {
  list-style-type: none;
  line-height: 2.2;
}
.border-radiuss {
  border-radius: 200px !important;
}
.border-radius0 {
  border-radius: 30px !important;
}
.border-radius {
  border-radius: 25px !important;
}
.border-radius2 {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}
.border-radius3 {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}
.border-radius4 {
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  height: 4rem;
}
.border-radius5 {
  border-bottom-right-radius: 25px !important;
  border-top-right-radius: 25px !important;
}
.accordion-button {
  border: none !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.border0 {
  border: none !important;
}
.head {
  background-color: #f3f5fa !important;
}
.pad-top {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.btn-custom {
  background-color: #4f81ec !important;
  color: white !important;
}
.footer {
  background-color: #3e4095;
}
[data-theme="dark"] .footer {
  background-color: #222222 !important;
}
[data-theme="dark"] .head {
  background-color: #222222 !important;
  color: white;
}
.fot {
  line-height: 20.16px !important;
}
.txt {
  font-size: 68px !important;
  line-height: 90.72px !important;
  text-align: left !important;
}
.txts {
  font-size: 48px !important;
  line-height: 70.72px !important;
  text-align: left !important;
}
.backgroundC {
  background-color: #f3f5fa !important;
}
[data-theme="dark"] .card {
  background-color: #222222 !important;
}
[data-theme="dark"] .card {
  background-color: #222222 !important;
  color: white !important;
}
[data-theme="dark"] .badge {
  background-color: #000000 !important;
  color: white !important;
}
.tip {
  color: #5c88e7;
}
.current {
  padding-bottom: 0.6rem;
  color: #4f81ec !important;
  border-bottom: 4px solid #4f81ec !important;
}

.dblue {
  background-color: #4f81ec !important;
  color: white !important;
}
[data-theme="dark"] .dblue {
  background-color: #4f81ec !important;
  color: white !important;
}

[data-theme="dark"] .navbar-toggler {
  color: #1c1c1c !important;
  /* border: 2px solid white !important;   */
}
[data-theme="dark"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.transition {
  transition-duration: 0.9s;
}

.carousel {
  position: relative;
}

.carousel-indicators {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-122%) translateY(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  margin: 0 0 0.2px 0 !important;
  border-radius: 50% !important;
  background-color: #b4cafa !important;
  cursor: pointer;
  border: none;
}

.carousel-indicators .active {
  background-color: #4f81ec !important;
}

@media (max-width: 1200px) {
  .blue {
    background-color: transparent !important;
  }
  .blues {
    background-color: #4f81ec !important;
  }
  .backgroundC {
    background-color: transparent !important;
  }
  .backgroundCs {
    background-color: #f3f5fa !important;
  }
  .lightblue {
    background-color: transparent !important;
    border: none;
  }
  .Container,
  .Container2,
  .Container3 {
    margin: 1%;
  }
  .carousel-indicators button {
    display: none;
  }
  .carousel-indicators {
    width: 100%;
  }
  h2,
  h3,
  h4 {
    font-size: 16px !important;
  }
  p {
    font-size: 14px !important;
  }
  h1 {
    font-size: 24px !important;
  }
  h5,
  li {
    font-size: 15px !important;
  }
  .txts {
    font-size: 26px !important;
  }
  .fs-3 {
    font-size: 14px !important;
    line-height: 30.72px !important;
    text-align: left !important;
  }
  [data-theme="dark"] .blue {
  background-color: transparent !important;
}
  [data-theme="dark"]  .blues {
    background-color: #4f81ec !important;
  }
}
